/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* scrollbar, progress bar and selector */
::-webkit-scrollbar {
    background-color: #212121;
}

::-webkit-scrollbar-thumb,
::-webkit-progress-bar {
    background-color: #2ac76f;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

::selection {
    background: #2ac76f;
    color: white;
}

/* body */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background: #212121;
    color: white;
    overflow-x: hidden;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans" !important;
    color: #2ac76f;
}

a {
    color: inherit;
    text-decoration: none;
}


/* button */
button {
    margin-top: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #2ac76f;
    padding: 15px;
    font-size: 10px;
    text-align: center;
}
.flushed {
    text-align: center;
}

/* footer and header */
header,
footer {
    background: #191919;
    padding: 5px;
    margin-top: 100px;
}

.h404flushed{
    padding: 10px;
    background: #191919;
    position: relative;
    top: 100px;
    overflow: inherit;
}

.body2{
    padding: 300px;
    top: 100px;
    overflow: inherit;
}

#selected {
    color: #2ac76f;
    font-weight: bold;
}

nav {
    text-align: center;
}

footer {
    text-align: center;
}
footer > * {
    padding: 20px;
}
nav > img {
    padding: 20px;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    padding: 20px;
    border: none;
    outline: none;
}

/* main section */
main {
    margin: 0 50vh;
}

main > a {
    color: #2ac76f;
}

@media only screen and (max-width: 1024px) {
    main {
        margin: 20px;
    }
}

/* items */

#boxes {
    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
}

#item {
    text-align: center;
    margin: 10px;
    transition: all 0.1s ease;
    background: #202020;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
}

#item:hover {
    background-color: #ffffff10;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.admin-kutu{
    text-align: center;
    float: left;
    margin-left: 150px;
    margin-bottom: 50px;
    width: 400px;
    border: inset;
    border-color: #000000;
    background-color: #3b3737;
    border-radius: 8px;
    transition: 1.2s;
}
.admin-kutu{
    text-align: center;
    float: left;
    margin-left: 170px;
    margin-bottom: 30px;
    height: 400px;
    width: 400px;
    border: inset;
    border-color: #000000;
    background-color: #3b3737;
    border-radius: 8px;
    transition: 1.2s;
}
.admin-kutu:hover{
    transform: scale(1.1);
}
.admin-foto{
    height: 200px;
}

.copyright {
    background: #191919;
    padding: 5px;
    margin-top: 100px;
    text-align: center;

}